{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    service programme - contact page
{% endblock %}

{% block content %}
    <main>
        <div id="main_title">Contact page</div>
        <h3> Dr.Fei Guo</h3>
        <p>
            School of Computer Science and Technology, Tianjin University, China <br /><br />
            E-mail: fguo@tju.edu.cn
        </p>
        <br /><br /><br />
        <h3> Jiawei Li</h3>
        <p>
            School of Computer Science and Technology, Tianjin University, China <br /><br />
            E-mail: <a href="#">jiawei6636@tju.edu.cn</a> <br /><br />
            Homepage: <a href="https://www.ljwstruggle.com">www.ljwstruggle.com</a>
        </p>
        <br /><br /><br /><br /><br />
    </main>
{% endblock %}
