{# Load the static url prefix #}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>example</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/example.css' %}"/>
</head>
<body>
    <div class="example">
        <p>>Nonantiviral<br/>GDISGINASVVNIQKEIDRLNEVAKNLNESLIDLQELGKY</p>
        <p>>Nonantiviral<br/>INASVVNIQKEIDRLNEVAKNLNESLIDLQELGKYEQYIKWPW</p>
        <p>>Nonantiviral<br/>PDVDLGDISGINASVVNIQKEIDRLNEVAKNLNESLIDLQ</p>
        <p>>Nonantiviral<br/>ELSNIKENKCNGTDAKVKLIKQELDKYKNAVTELQ</p>
        <p>>Nonantiviral<br/>KDCIIK</p>
        <p>>Nonantiviral<br/>CATCIADHRSH</p>
        <p>>Nonantiviral<br/>KKLAVLLALLA</p>
        <p>>Antiviral<br/>GPPISLERLDVGTNLGNAIAKLEAKELLESSDQI</p>
        <p>>Antiviral<br/>KVLHLEGEVNKIALLSTNKAVVSLSNGVSVLTS</p>
        <p>>Antiviral<br/>DFLEENITALLEEAQIQQEKNMYELQKLNSWDVFG</p>
        <p>>Antiviral<br/>EGPTLGNWAREIWATLFGKA</p>
        <p>>Antiviral<br/>NWAREIWATLFKKA</p>
        <p>>Antiviral<br/>FAIKWEYVLLLFLL</p>
        <p>>Antiviral<br/>SWLRDIWDWKCEVLSDFK</p>
        <h3> Notes:</h3>
        The input is just a protein sequence for any length. And you can arbitrarily input a sequence such as
        'ABCDEFGHIJKLMNOPQRSTUVWXYZ...' that length is 500 or more.
    </div>
</body>
</html>
